@import url('/fonts/segoe-ui.css');

html {
  background-image: url(/assets/background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
:root {
  --w7-w-bg: #eb8c34;
}
body {
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.window {
  width: 764px;
}
.window-body {
  width: 750px;
  height: 600px;
  padding: 0;
}