@font-face {
	font-family: "Iosevka";
	src: url("https://typeof.net/Iosevka/_next/static/media/Iosevka-Regular.0opwcturmwkl8.woff2");
}
@font-face {
	font-family: "Iosevka";
	font-weight: bold;
	src: url('https://typeof.net/Iosevka/_next/static/media/Iosevka-SemiBold.02i09_3srmzal.woff2');
}
::selection {
	background: #ff558855;
}
:root {
	background: hsl(276, 13.5%, 7.3%);
	color: hsl(calc(305 - 22.5),70%,95%);
	font-family: "Iosevka";
}
body {
	max-width: 640px;
	padding: 0 15px 0 15px;
	margin: auto;
	zoom:110%;
}
h2 {
	font-weight: bold;
	margin-bottom: 15px;
	background: #ff558855;
	color: inherit;
	transform: skewX(-10deg);
	display: block;
	padding: 5px;
	transition: opacity 0.4s;
}
mark {
	background: #ff558855;
	color: inherit;
}
.card {
	border: 2px solid hsl(275,17%,14%);
	background: hsla(305,20%,3.5%,.7);
	padding: .7rem;
	transition: opacity 0.4s;
}
p {
	margin: 10px 0;
}
a {
	background: #ff558833;
	color: #ff5588;
	font-weight: bold;
	transition: 1s cubic-bezier(0,0.8,0,1);
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	border: 2px solid transparent;
	border-bottom: 2px solid;
}
a:focus,
a:hover {
	outline: none;
	background: #ff5588;
	color: white;
	transform: skewX(-10deg);
}
.buttons {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 5px;
}
.btn {
	border: none;
	background: none;
	image-rendering: pixelated;
	transition: 0.4s, transform 0.5s cubic-bezier(0,0.8,0,1);
	zoom: 91%;
}
.btn:focus,
.btn:hover {
	outline: none;
	background: none;
}
.btn:focus img {
	outline: 3px solid #ff5588;
}
.buttons:has(.btn:hover) .btn {
	opacity: 0.5;
	border-bottom: none;
}
body:has(.btn:hover) h2, body:has(.btn:hover) .card {
	opacity: 0.5;
}
.buttons:has(.btn:hover) .btn:hover {
	opacity: 1;
	transform: scale(1.5);
	z-index: 999;
	transition: 0.5s cubic-bezier(0,0.8,0,1);
}
