:root {
	--background: #151515;
    --text: #e8e8e8;
    --primary: #ffd400;
    --primary-bg: #ffd40055;
}
body {
    color: var(--text);
    background: var(--background);
    font-size: 1.2em;
    font-family: "Consolas", monospace;
    text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a {
	color: var(--primary);
	background-color: var(--primary-bg);
	text-decoration: none;
	font-weight: normal;
	border: thin solid transparent;
    font-weight: 600;
    transition: 0.5s cubic-bezier(0,0.8,0,1);
}
a:hover {
	color: var(--background);
	background-color: var(--primary);
	border: thin solid var(--primary);
}
.container {
	display: flex;
    justify-content: center;
    align-items: center;
}