:root {
  background: linear-gradient(0deg, rgba(85, 29, 52, 1) 0%, rgba(56, 7, 36, 1) 100%);
  color: rgb(255,229,245);
  height: 100vh;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 640px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 0px;
}
h2 {
  margin: 15px 0 0 0;
}
a {
  color: rgb(255,229,245);
  text-decoration: underline 2px rgba(255,229,245,0.3);
  display: inline-block;
}
a:focus,
a:hover {
  text-decoration: underline 2px rgba(255,229,245,0.5);
  outline: none;
}
.btn:focus img {
  outline: 2px solid rgba(255,229,245,0.5);
}
a.nohover,
a.nohover:focus,
a.nohover:hover {
  border-bottom: none;
}
.webcam:hover {
  outline: 2px solid rgba(255,229,245,0.5);
}
hr {
  border: 1px solid rgba(255,229,245,0.2);
  margin-bottom: 10px;
}
.buttons {
  display: flex;
  align-content: center;
  gap: 5px;
}
.btn {
  border-bottom: none;
  image-rendering: pixelated;
  transition: opacity 0.2s ease;
}
.btn:focus,
.btn:hover {
  outline: none;
}
.buttons:has(.btn:hover) .btn {
  opacity: 0.5;
  border-bottom: none;
}
.buttons:has(.btn:hover) .btn:hover {
  opacity: 1;
}
