@import url('/fonts/segoe-ui.css');

html {
  background-image: url(/assets/background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
:root {
  --w7-w-bg: #eb8c34;
}
body {
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
h2 {
  font-weight: normal;
  font-size: 16px;
  color: #0c1ec2;
  margin-top: 5px;
  margin-bottom: 5px;
}
main {
  width: 100%;
  background: white;
  padding: 10px;
  min-height: 480px;
}
#header {
  width: 100%;
  aspect-ratio: 985 / 150; 
  background-color: #FF6A00;
  background-image: url(/assets/banner.png);
  background-size: cover;
  background-position: center;
}
ul {
  padding-left: 15px;
  margin-top: 0px
}
aside {
  padding: 10px;
  width: 25%;
}
aside.left {
  text-align: left;
}
aside.right {
  text-align: right;
}
.window {
  max-width: 100%;
}
.flex {
  display: flex;
}