/* colors borrowed from https://puteri.ng/ */
@media (prefers-color-scheme: light) {
	:root {
		--background: 18, 19, 20;
		--middleground: 31, 33, 41;
		--foreground: 238, 238, 238;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--background: 18, 19, 20;
		--middleground: 31, 33, 41;
		--foreground: 238, 238, 238;
	}
}