@font-face {
    font-family: 'Ubuntu';
    font-weight: 300;
    src: url('/assets/fonts/Ubuntu-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-style: italic;
    src: url('/assets/fonts/Ubuntu-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: 400;
    src: url('/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: italic;
    src: url('/assets/fonts/Ubuntu-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    src: url('/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: italic;
    src: url('/assets/fonts/Ubuntu-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: 600;
    src: url('/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: 600;
    font-style: italic;
    src: url('/assets/fonts/Ubuntu-BoldItalic.ttf') format('truetype');
}
